body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    background-color: rgb(202,149,90);
    border-width: 5px;
    border-color: rgb(149,64,82);
    border-style: solid;
    height: 100px;
    width: 900px;
    position: fixed;
    padding: 20px;
    align-self: center;
    left: 4%;
    z-index: 1;
}

#name {
    background-color: 	rgb(203,204,171);
    color: 	rgb(149,64,82);
    font-size: large;
    text-align: center;
    padding: 10px;
    float: left;
    height: 70px;
    width: 250px;
    position: relative;
    left: 20px;
    font-weight: bold;
    
}

#navbar {
    background-color: rgb(184,105,84);
    float: right;
    height: 80px;
    width: 500px;
    position: relative;
    top: 11px;
    right: 20px;
}

.about {
    color: 	rgb(149,64,82);
    font-size: medium;
    text-align: center;
    padding: 20px;
    border-color: 	rgb(149,64,82);
    border-style: dashed;
    border-width: 1px;
    width: 90px;
    position: relative;
    left: 20px;
    top: 10px;

}

.portfolio {
    color: 	rgb(149,64,82);
    font-size: medium;
    text-align: center;
    padding: 20px;
    border-color: 	rgb(149,64,82);
    border-style: dashed;
    border-width: 1px;
    position: relative;
    width: 90px;
    left: 185px;
    top: -49px;
}

.contact {
    color: 	rgb(149,64,82);
    font-size: medium;
    text-align: center;
    padding: 20px;
    border-color: 	rgb(149,64,82);
    border-style: dashed;
    border-width: 1px;
    width: 90px;
    position: relative;
    left: 70%;
    top: -110px;
    
}

.main {
    width: 960px;
    background-color: 	rgb(184,105,84);
    font-size: small;
    padding: 30px;
    border-color: 	rgb(149,64,82);
    border-width: 1px;
    border-style: solid;
    z-index: 0;
}
.container {
    background-color: rgb(203,204,171);
    color: black;
    border-width: 1px;
    border-color: 	rgb(149,64,82);
    border-style: dotted;
    width: 960px;
}
.footer {
    background-color: rgb(202,149,90);
    padding: 10px;
    height: 20px;
    color: 	rgb(149,64,82);
    width: 1002px;
    position: relative; 
    left: 0;
    text-align: center;

}